In [2]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b: 
            return a
        else:
            return b
    else:
        if a>b:
            return a
        else:
            return b
print(lesser_of_two_evens(2,4))
print(lesser_of_two_evens(2,5))

2
5

In [3]:
def animal_crackers(text):
    return text.split()[0][0].lower() == text.split()[1][0].lower()
animal_crackers('Levelheaded Llama')

True

In [4]:
animal_crackers('Crazy Kangaroo')

False

In [5]:
def makes_twenty(n1,n2):
    return n1==20 or n2==20 or n1+n2==20
makes_twenty(20,10)

True

In [6]:
makes_twenty(12,8)

True

In [7]:
makes_twenty(2,3)

False

In [72]:
def old_macdonald(name):
    return name[:3].capitalize()+name[3:].capitalize() #slice from start to end including end
old_macdonald('macdonald')

'MacDonald'

In [75]:
def master_yoda(text):
    words = text.split()
    return ' '.join([words[i] for i in range(len(words)-1,-1,-1)]) #from start to stop, not including stop
master_yoda('I am home')

'home am I'

In [76]:
master_yoda('We are ready')

'ready are We'

In [29]:
def almost_there(n):
    return abs(100-n) <= 10 or abs(200-n)<=10
almost_there(104)

True

In [30]:
almost_there(90)

True

In [26]:
almost_there(150)

False

In [31]:
almost_there(209)

True

In [81]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    return False

has_33([1, 3, 3])

True

In [39]:
has_33([1, 3, 1, 3])

False

In [40]:
has_33([3, 1, 3])

False

In [41]:
has_33([3, 3, 1, 3])

True

In [42]:
def paper_doll(text):
    return ''.join([text[i]*3 for i in range(len(text))])
paper_doll('Hello')

'HHHeeellllllooo'

In [43]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [45]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    else:
        return 'BUST'
blackjack(5,6,7)

18

In [46]:
blackjack(9,9,9)

'BUST'

In [47]:
blackjack(9,9,11)

19

In [49]:
def summer_69(arr):
    any_six = 0
    arr_sum = 0
    if len(arr) == 0: return 0
    for i in arr:
        if i==6:
            any_six = 1
        elif i==9:
            if any_six == 1:
                any_six = 0
            else:
                arr_sum+=i
        elif any_six==0:
            arr_sum+=i
    return arr_sum
summer_69([1, 3, 5])

9

In [50]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [51]:
summer_69([2, 1, 6, 9, 11])

14

In [52]:
summer_69([2, 1, 6, 9, 11, 9 , 6, 4 , 5, 9, 8])

31

In [54]:
def spy_game(nums):
    result = ''
    for i in nums:
        if i==0 or i==7:
            result+=str(i)
    return result.find('007') != -1

spy_game([1,2,4,0,0,7,5])

True

In [55]:
spy_game([1,0,2,4,0,5,7])

True

In [56]:
spy_game([1,7,2,0,4,5,0])

False

In [57]:
def count_primes(num):
    if num<2:
        return 0
    primes = [2]
    x=3
    while x<=num:
        for y in primes:
            if x%y==0:
                x+=2
                break
        else: #execute after for ends without a break
            primes.append(x)
            x+=2
    print(primes)
    return len(primes)
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [69]:
def print_big(letter):
    symbols = {1:'  *  ', 2:' * * ', 3:'*****', 4:'*   *', 5:'***', 6:'*', 7:'****'}
    letters = {'A':(1,2,3,4,4),'B':(7,4,7,4,7),'C':(3,6,6,6,3),'D':(7,4,4,4,7),'E':(3,6,5,6,3)}
    for s in letters[letter.upper()]:
        print(symbols[s])
print_big('e')

*****
*
***
*
*****