In [ ]:
1+1

In [2]:
print('new')

new

In [1]:
(25+25)%4*50

100

In [2]:
1/2

0.5

In [3]:
mystring = 'hello world'

In [4]:
result = 104.12345

In [5]:
"the result was {r:1.3f}".format(r = result)

'the result was 104.123'

In [6]:
"the {2} {1} {0}".format("fox","brown","quick")

'the quick brown fox'

In [7]:
f"my name is {result}"

'my name is 104.12345'

In [8]:
"the {q} {b} {f}".format(f="fox",b="brown",q="quick")

'the quick brown fox'

In [9]:
name = "sam"
age = "35"

In [10]:
f"{name} is {age} years old"

'sam is 35 years old'

In [1]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [2]:
pwd

'C:\\Users\\voell\\Desktop\\Python'

In [5]:
myfile = open('myfile.txt')

myfile.read()

In [6]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [7]:
myfile.seek(0)

0

In [8]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [9]:
new_list = myfile.readlines()

In [10]:
new_list[0]

IndexError: list index out of range

In [11]:
new_list

[]

In [12]:
type(new_list)

list

In [13]:
myfile.close()

In [23]:
with open('myfile.txt',mode='r') as my_new_file:
    content = my_new_file.read()

In [24]:
content

'four on fourthfour on fourth'

In [19]:
with open('myfile.txt',mode='w') as my_new_file:
    my_new_file.write('four on fourth')

In [22]:
with open('myfile.txt',mode='a') as my_new_file:
    my_new_file.write('four on fourth')

In [4]:
a=1
while a<=5:
    a+=1
else: print("a>5")

a>5

In [5]:
for _ in 'string':
    print('cool')

cool
cool
cool
cool
cool
cool

In [7]:
a = [(1,2,3),(4,5,6)]
for x,y,z in a:
    print(x)
    print(y)
    print(z)

1
2
3
4
5
6

In [9]:
d = {'k1':1,'k2':2,'k3':3}
for i in d:
    print(i)

k1
k2
k3

In [10]:
d = {'k1':1,'k2':2,'k3':3}
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [11]:
d = {'k1':1,'k2':2,'k3':3}
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [12]:
d = {'k1':1,'k2':2,'k3':3}
for v in d.values():
    print(v)

1
2
3

In [13]:
for i in range(0,10,2): #from 0 to 10 step 2
    print(i)

0
2
4
6
8

In [14]:
word = 'abcde'
for i in enumerate(word):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [15]:
word = 'abcde'
for i,v in enumerate(word):
    print(i)
    print(v)

0
a
1
b
2
c
3
d
4
e

In [17]:
list1=[1,2,3,4,5,6]
list2=['a','b','c']
list3=[100,200,300]
for i in zip(list1, list2, list3):
    print(i)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [18]:
list1=[1,2,3,4,5,6]
list2=['a','b','c']
list3=[100,200,300]
list(zip(list1,list2,list3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [19]:
'x'in['a','b','c']

False

In [20]:
'mykey' in {'mykey':123}

True

In [21]:
d={'mykey':123}
123 in d.values()

True

In [22]:
d={'mykey':123}
123 in d.keys()

False

In [23]:
min([1,2,3,4])

1

In [24]:
max([1,2,3,4])

4

In [25]:
from random import shuffle #from lib import fxn

In [28]:
mylist=[1,2,3,4,5]
random_list = shuffle(mylist)
random_list

In [29]:
mylist

[3, 5, 4, 2, 1]

In [32]:
from random import randint #from lib import fxn
mynum = randint(0,10)
mynum

2

In [34]:
result = input('age: ') #always string
int(result)

age: 10

10

In [35]:
mystring = 'hello'

In [37]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [38]:
mylist = [x**2 for x in range(0,10) if x%2==0]
mylist

[0, 4, 16, 36, 64]

In [39]:
mylist = [x*y for x in [1,2,3] for y in [4,5,6]]
mylist

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [2]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [3]:
def even_number(mylist):
    return [number for number in mylist if number%2==0]
even_number([1,2,5])

[2]

In [9]:
def myfunc(mylist):
    most_hour = 0
    person_name = ''
    for person,hour in mylist:
        if (hour > most_hour):
            most_hour = hour
            person_name = person
    return (most_hour,person_name)

person,hour = myfunc([('kim',40),('cass',30)])
item = myfunc([('kim',40),('cass',30)])
print(item)
print(person)
print(hour)

(40, 'kim')
40
kim

In [10]:
def myfunc(*args): #multiple items = *, arg is item list so can access by index
    return sum(args)
myfunc(20,40,60)

120

In [12]:
def myfunc(**kwargs): #kwargs is a dictionary
    print(kwargs)
    if 'fruit' in kwargs:
        print('Yes')
    else:
        print('No')
myfunc(fruit = 'Apple', veggie = 'lettuce')

{'fruit': 'Apple', 'veggie': 'lettuce'}
Yes

In [13]:
#*args and **kwargs can be used together as param

In [23]:
def myfunc(str):
    new_str = ''
    for index in range(len(str)):
        if index%2 == 0:
            new_str += str[index].upper()
        else:
            new_str += str[index].lower()
        index+=1
    return new_str
print(myfunc('goodbye'))

GoOdByE

In [24]:
def myfunc(str):
    return(''.join([str[i].upper() if i%2==0 else str[i].lower() for i in range(len(str))]))
print(myfunc('hello'))

HeLlO

In [25]:
def square(num):
    return num**2

In [26]:
for i in map(square,[1,2,3,4]): #square to apply a function to all list items
    print(i)

1
4
9
16

In [27]:
list(map(square,[1,2,3,4]))

[1, 4, 9, 16]

In [28]:
def isEven(num):
    return num%2==0
list(filter(isEven,[1,2,3,4]))

[2, 4]

In [29]:
square = lambda num: num**2
square(5)

25

In [30]:
list(map(lambda num: num**2,[1,2,3,4]))

[1, 4, 9, 16]

In [31]:
list(filter(lambda num: num%2==0,[1,2,3,4]))

[2, 4]

In [32]:
x=50
def func():
    global x #keyword global to turn x into global var thus value change affects all x
    print(f'initial x: {x}')
    x = 'new'
    print(f'new x: {x}')

In [33]:
print(x)

50

In [34]:
func()

initial x: 50
new x: new

In [35]:
print(x)

new